.digitalPicture {
  font-family: MICEGothic;
  h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 16px;
  }
  .imgWrap {
    width: 80%;
    .slick-slider {
      width: 100%;
      height: 100%;
      .slick-list {
        width: 100%;
        height: 100%;
      }
      .slick-track {
        width: 100%;
        height: 100%;
      }
    }

    img {
      width: 100%;
      height: 100%;

      //   width: 100px;
      //   height: 100px;
    }
  }
  .enterFullscreenBtn {
    background-color: #edac51;
    border: 1px solid #edac51;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
    padding: 5px 10px;
    margin-bottom: 20px;
  }
}
