* {
  font-family: MICEGothic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.buttons button {
  border-radius: 5px;
  margin: 0 10px;
  width: 80px;
  height: 40px;
  color: #fff;
  font-size: 20px;
}
.buttons button:first-child {
  background-color: #ef2835;
  border: 1px solid #ef2835;
}
.buttons button:nth-child(2) {
  background-color: rgba(255, 166, 0, 0.847);
  border: 1px solid rgba(255, 166, 0, 0.847);
}
