.distribute {
  font-family: MICEGothic;

  td p {
    margin: 5px 0;
  }
  h1 {
    margin-bottom: 30px;
    text-align: left;
    font-size: 26px;
    font-weight: bolder;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
  }
  .cancelBtn1 {
    width: 70px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    &:hover {
      background-color: #bbb;
    }
  }
  .cancelBtn2 {
    width: 70px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    &:hover {
      background-color: #bbb;
    }
  }
  .cancelBtn3 {
    width: 70px;
    height: 30px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    &:hover {
      background-color: #bbb;
    }
  }
  .table {
    th {
      color: #fff;
      background-color: #fa0717;
      &:nth-child(even) {
        color: #fff;
      }
    }

    td {
      font-weight: 500;
      vertical-align: middle;
    }
  }
}
