.template {
  font-family: MICEGothic;
  margin-bottom: 45px;
  h1 {
    margin-bottom: 30px;
    text-align: left;
    font-size: 26px;
    font-weight: bolder;
  }
  .pmBox {
    margin-bottom: 50px;
    p {
      font-weight: bolder;
    }
    .pmImg {
      border: 1px solid #aaa !important;
      background-color: #fff;
      width: auto;
      height: auto;
      max-width: 300px;
      max-height: 300px;
      margin-bottom: 10px;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
