.navbar {
  font-family: MICEGothic;
  background-color: #ef2835;
  height: 70px;
  margin-bottom: 50px;

  .logo {
    color: #fff;
    font-size: 28px;
    font-weight: bolder;
  }
  a {
    color: #444;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      color: #ddd;
    }
  }
  .navbar-brand {
    margin-right: 330px;
  }
  .nav-link {
    margin: 0 40px;
    background-color: #ef2835;
  }

  .clientLogout {
    margin-left: 700px;
  }
}
